// place your custom styles here
// @use "@sass-palette/hope-config";

// 
.vp-hero-info {
  height: 420px;
}

.vp-project-image {
  height: 25px;
  width: 25px;
}

.vp-navbar {
  background-color: rgba(0, 0, 0, 0); /* 将背景色设置为完全透明 */
  /* 其他导航栏样式，例如高度、边框、内外边距等可以根据需要设置 */
 
}

.vp-card {
  width: 340px;
}