// place your custom styles here
// @use "@sass-palette/hope-config";

.vp-hero-info {
  height: 420px;
}

.vp-project-image {
  height: 25px;
  width: 25px;
}

// .vp-navbar {
//   background-color: rgba(0, 0, 0, 0); /* 将背景色设置为完全透明 */
//   /* 其他导航栏样式，例如高度、边框、内外边距等可以根据需要设置 */
// }

.vp-card {
  margin-left: 20px;
  width: 370px;
}

// .vp-page{
//   /* 设置背景颜色 */
//   // background-color: #d00e0e; /* 可以替换为您喜欢的颜色代码 */
  
//   /* 设置背景图片 */
//   background-image: url('/assets/bgImage/iTab-dpvvgm.jpg');  /* 将路径替换为您的背景图片路径 */

//   /* 背景图片平铺方式 */
//   background-repeat: no-repeat; /* 您可以设置为repeat、repeat-x、repeat-y等 */
  
//   /* 背景图片位置 */
//   background-position: center center; /* 您可以设置为left top、right bottom等 */
  
//   /* 背景图片尺寸 */
//   background-size: cover; /* 您可以设置为contain等 */
  
//   /* 如果背景图片不可用，可以提供备用背景颜色 */
//   // background-color: #f0f0f0; 
// }

.vp-project-home {
  background-image: url('/assets/bgImage/iTab-e7q1er.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// 友链卡片
// .vp-site-info {
//   width: calc(33.5% - 24px) !important;
// }


// 侧边栏
// }
// .vp-sidebar-links {
//   position: absolute; /* 设置侧边栏为绝对定位 */
//   top: 10px; /* 设置侧边栏的垂直位置 */
//   left: 10px; /* 设置侧边栏的水平位置，此处为0表示水平向左浮动 */
//   width: 286px;
// }

