// you can change colors here
$theme-color: #3eaf7c;

$content-width: 850px;
$home-page-width: 1160px ;


// sidebar
$sidebar-width: 18rem !default;
$sidebar-mobile-width: 16rem !default;

// $navbar-height: 导航栏高度
// $navbar-horizontal-padding: 导航栏水平填充
// $navbar-vertical-padding: 导航栏垂直填充