// you can change colors here
$theme-color: #3eaf7c;

//主要内容的宽度
// $content-width: 880px;
// 主页内容的宽度
// $home-page-width: 1000px;

// sidebar
// 侧边栏宽度
$sidebar-width: 18rem !default;

// $navbar-height: 导航栏高度
// $navbar-horizontal-padding: 导航栏水平填充
// $navbar-vertical-padding: 导航栏垂直填充
$navbar-height: 3.75rem !default;
$navbar-horizontal-padding: 200px !default;
$navbar-vertical-padding: 200px !default;

$font-family: '"LXGW WenKai Screen",PingFang SC,Hiragino Sans GB,Droid Sans Fallback,Microsoft YaHei,sans-serif !important';
$font-family-heading:'"LXGW WenKai Screen",PingFang SC,Hiragino Sans GB,Droid Sans Fallback,Microsoft YaHei,sans-serif !important';
$font-family-mono: '"LXGW WenKai Screen",PingFang SC,Hiragino Sans GB,Droid Sans Fallback,Microsoft YaHei,sans-serif !important';


// $font-family: '"LXGW WenKai Screen", sans-serif !important';
// $font-family-heading:'"LXGW WenKai Screen", sans-serif !important';
// $font-family-mono: '"LXGW WenKai Screen", sans-serif !important';
